*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {

	isolation: isolate;
	padding: 0;
	margin: 0

}
:root {
	--primary-300:hsl(0, 0%, 95%);
	--primary-400:hsl(0, 0%, 75%);
	--primary-500:hsl(0, 0%, 55%);
	--primary-600:hsl(0, 0%, 35%);
	--primary-700:hsl(0, 0%, 18%);
	--primary-800:hsl(0, 0%, 15%);

	user-select:none;
	/* font-family: 'AlphaDigital', Calibri, 'Trebuchet MS', sans-serif; */
	font-family: 'DS-DIGI', Courier, monospace;
}

body{
	line-height: 1.5;
  -webkit-font-smoothing: antialiased;
	height: 100vh;
	color: var(--primary-300);
	background-color: var(--primary-700);
}

h1{
	text-align: center;
}
@font-face {
     font-family: 'DS-DIGI';
     font-style: normal;F
     src:
       url("../fonts/DS-DIGI.woff2") format("woff2"),
       url("../fonts/DS-DIGI.woff") format("woff"),
       url("../fonts/DS-DIGI.ttf") format("ttf")("truetype");
   }

.site-main{
}

.tv-ctn{
align-items: center;
justify-content: center;
flex: 1;
	display: flex;
	/* background-color: #feedb8; */
	margin: 0 auto;
	flex-direction: column;
}

.panel{
background-color:#838f7b ;

	/* border-top:22px solid #342e13	;
	border-bottom:22px solid hsl(94, 7%, 45%);
	border-right:32px solid #75735a;
	border-left:32px solid #616b53; */

	margin:12px;

}

/* .panel-right{
	background-color: #cbbb92;

} */
/*
.panel-right-up{
	background-color: #7e7e7d;
	border-top:10px solid hsl(0, 0%, 26%);
	border-bottom:10px solid hsl(0, 0%, 46%);
	border-left:10px solid hsl(0, 0%, 36%);
	border-right:10px solid hsl(0, 0%, 36%);
	margin: 0 auto;
	height: 60%;
	padding: 5px;
}


.panel-right-up--inside{
height: 100%;
	border-radius: 12px;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px 1px #2d2a27;
	border:	2px solid  hsl(0, 0%, 36%)	;
	background: linear-gradient(to right, hsl(0, 0%, 36%), hsl(0, 0%, 35%), hsl(0, 0%, 36%), hsl(0, 0%, 24%));

	width: 85%;
	margin: 0 auto	;

}

.panel-right-down{
display: flex;
align-items: center;
justify-content: center;
height: 40%;
}

	.container {
		display: grid;
		grid-template-columns: repeat(8, 1fr);

		grid-gap: 1px;
		width: 200px;
	}

	.row {
		display: flex;
		flex-direction: column;
	}

	.hole {
		width: 15px;
		height: 15px;
		background-color: black;
		border-radius: 50%;

	}

	.hole--none {
		width: 15px;
		height: 15px;
		background:none;
		border-radius: 50%;

	}
 */

.tv-glass{
border-radius: 85px;
box-sizing: border-box;
min-height: 75px;
min-width: 200px;
max-width: 1090px;
background-image:
linear-gradient(#0004, #0000, #0004);
box-shadow: 1px 4px 15px 11px black inset;
border:	5px solid #838f7b	;


}

.tv-header,
.tv-main{
display: flex;
flex-wrap: wrap	;
}

.tv-glass-header--col1{

}
.tv-glass-header--col2{
height: 200px;
width: 200px;
}


.tv-glass-main{
	min-height: 65px;
}


.tv-glass-footer{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 300px;
}

.cover-mini-front{
height: 100px;
width: 100px;
box-shadow: 5px 5	px 22px black;
}

.cover-mini-front--gray{

	-webkit-filter: grayscale(100%);
	 filter: grayscale(100%);
	}

	.tv-glass-main--guitarplayer , .tv-glass-main--album{

color:var(--primary-800);
font-weight: 700;
width: 350px;
text-shadow: 1px 2px 2px hsla(0, 0%, 0%, 0.333);
text-align: center;

	}

.guitarPlayer ,.album{

}

.mh {min-height: 275px}

.br-n{
	border-radius: 0;
}

.pd-2r{
	padding: 2rem;
}

/* .minmax-200{
	min-height: 200px;
min-width: 200px;
} */

.fle-aj{
	align-items: center;
	display: flex;
	justify-content: center;
}
